*.pyc
*.xlsx
qqcy/settings.py
log/
micromall/files/upfiles/
micromall/micromall/files/upfiles/
microfront/microfront/items/
microfront/microfront/items/*.json
run.sh
run.log
ihaoshi_dy/aa.log
ihaoshi_dy/wxrun.log
ihaoshi_fw/wxrun.log
tools/updorderjson.log
tools/restart.log
tools/*.log
microfront/orders
micromall/micromall/
nohup.out
wx/ihaoshi_dy/aa.log
wx/ihaoshi_dy/wxrun.log
wx/ihaoshi_fw/ihaoshi_fw.log
wx/ihaoshi_fw/wxrun.log
