$def with (toUser,fromUser,createTime,title1,desc1,picurl1, url1, title2,desc2,picurl2, url2, title3,desc3,picurl3, url3)
<xml>
<ToUserName><![CDATA[$toUser]]></ToUserName>
<FromUserName><![CDATA[$fromUser]]></FromUserName>
<CreateTime>$createTime</CreateTime>
<MsgType><![CDATA[news]]></MsgType>
<ArticleCount>3</ArticleCount>
<Articles>
<item>
<Title><![CDATA[$title1]]></Title> 
<Description><![CDATA[$desc1]]></Description>
<PicUrl><![CDATA[$picurl1]]></PicUrl>
<Url><![CDATA[$url1]]></Url>
</item>
<item>
<Title><![CDATA[$title2]]></Title> 
<Description><![CDATA[$desc2]]></Description>
<PicUrl><![CDATA[$picurl2]]></PicUrl>
<Url><![CDATA[$url2]]></Url>
</item>
<item>
<Title><![CDATA[$title3]]></Title> 
<Description><![CDATA[$desc3]]></Description>
<PicUrl><![CDATA[$picurl3]]></PicUrl>
<Url><![CDATA[$url3]]></Url>
</item>
</Articles>
</xml>
