<html><head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta name="viewport" content="	width=100%; initial-scale=1; maximum-scale=1; minimum-scale=1; user-scalable=no;">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<title>爱好食</title>
	<link rel="stylesheet" href="css/style.css?5">		
<style type="text/css"></style></head>

<body>
	<div class="main-container">
	</div>
	<div id="menu-shadow" hidefocus="true"></div>
	<div id="menu-dropdown">
        <div id="menu-arrow"></div>
        <ul>
            <li id="myOrder">
                <a href="javascript:void(0);">我的订单</a>
            </li>
        </ul>
    </div>
	<!-- 弹出窗口模版 -->
	<script type="text/template" id="popupView-template">

	</script>

	<!-- 登录页面模版 -->
	<script type="text/template" id="loginView-template">
		<div class="login-header">
			<!--img class="logo" src="img/logo.png" alt="logo"-->
                        <center><h3>爱好食</h3></center>
			<span class="login-tips">为了您的帐号安全请登陆</span>
		</div>

		<div class="login-form">
			<div class="line">
				<label for="password">姓名：</label>
				<input type="text" name="password" placeholder="">
			</div>
                        <div class="line">
				<label for="account" >手机号：</label>
				<input type="tel" name="account" placeholder="">
			</div>
			<!--a id="forget">忘记密码？</a-->
                        <table style="width:100%;">
                            <tr>
                                <td><button id="login" class="mybtn" style="width:100%;">登 录</button></td>
                                <td><button class="mybtn back" style="width:100%;">返 回</button></td>
                            </tr>
                        </table>
		</div>
	</script>

	<!-- 注册页面模版 -->
	<script type="text/template" id="registerView-template">
		<div class="login-header">
			<!--img class="logo" src="img/logo.png" alt="logo"-->
                        <center><h3>爱好食</h3></center>
			<span class="login-tips">新版上线，赶紧注册一个账号吧</span>
		</div>

		<div class="login-form">
                        <div class="line">
                                <label for="name">姓名：</label>
                                <input type="text" name="name"  value="">
			</div>
                        
			<div class="line">
				<label for="account">手机号：</label>
				<input type="tel" name="account"  value="">
			</div>
                        
			<div class="line">
				<label for="sex">性别：</label>
                                <select id="select_sex"><option>男</option><option>女</option></select>
			</div>

                        <table style="width:100%;">
                            <tr>
                                <td><button id="register" class="mybtn ybtn" style="width:100%;">注 册</button></td>
                                <td><button class="mybtn ybtn back" style="width:100%;">返 回</button></td>
                            </tr>
                        </table>
		</div>
	</script>

	<!-- 忘记密码页面模版 -->
	<script type="text/template" id="forgetPasswordView-template">
		<div class="login-form">
			<div class="line">
				<label for="account">手机号：</label>
				<input type="text" name="account" placeholder="">
			</div>

			<div class="line">
				<label for="email">邮箱：</label>
				<input type="text" name="email" placeholder="">
			</div>
			<button class="btn-success" id="getPassword">确 定</button>
		</div>

		<div class="toolbar">
			<a class="back" href="javascript:void(0);">
				<img src="img/back.png">
			</a>			
		</div>
	</script>

	<!-- 菜谱视图模版 -->
	<script type="text/template" id="menuView-template">		
            <div class="header" id="home-header">
                <div class="types">
                    <ul id="menuItemList">
                        <li onclick="location.href='http://www.ihaoshi.cn/ihaoshi/home.php?code=<%= current_user %>';" id="m0" index="0" class="menuItem">首页</li>
                        <% _.each(catalogs, function(item, idx) { %> <li id="m<%= item.Catalog.id %>" index="<%= idx+1 %>" class="menuItem"><%= item.Catalog.name %></li> <% }); %>
                        <% if(moreCatalogs.length > 0){ %>
                        <li id="more-types" class="types-toggle">&nbsp;</li>
                        <% } %>
                    </ul>
                    <% if(moreCatalogs.length > 0){ %>
                    <div id="types-dropdown" class="tabs-dropdown">
                        <ul>
                            <% _.each(moreCatalogs, function(item, idx) { %> <li id="m<%= item.Catalog.id %>" index="<%= idx %>" class="menuItem"><%= item.Catalog.name %></li> <% }); %>
                        </ul>
                    </div>
                    <% } %>
                </div>
            </div>		
            <div class="marquee" style="height:0">
                <marquee class="none" id="marquee-content">8月20日-9月20日期间凡单次消费满30元可获赠体验虫草鸡蛋2个（一人限一次）</marquee>
            </div>		
            <div id="mainList" class="main"></div>
            <div class="backToTop">回到顶部</div>
            <div id="page_tag_load"><img src='img/ajax-loader.gif' alt='loader'></div>
            <div class="toolbar" style="left:0;">
                <a class="mybtn" id="before-submit" href="javascript:void(0);" hidefocus="true">请先选单</a>			
                <a class="user" href="javascript:void(0);" hidefocus="true"><img src="img/user.png" alt="user"></a>
            </div>
	</script>

	<!-- 菜谱条目模版 -->
	<script type="text/template" id="item-template">		
            <div class="item-title"><%= Goods.name %></div>
            <div class="item-image">
                <img src="img/ajax-loader.gif" lazy-src="/micromall<%= Goods.cover_url %>" alt="item image">
            </div>
            <div class="single-item-info">
                <!--div class="item-amount">
                    <span><%= Goods.servings %>人份</span>
                </div-->
                <% if(parseFloat(Goods.price) < parseFloat(Goods.old_price)){ %>
                <div class="item-cost">
                    <span><s>￥<%= parseFloat(Goods.old_price).toFixed(2) %></s></span>
                </div>
		<div class="zan">
		    <i class="zan_num" style=" top: 20%;left: 90%;width: 13px;height: 13px;cursor: pointer;float: right;padding: 5px 5px; color: #000;font-style:normal;"><%= Goods.zan_num %></i>
	            <span class="zan_span" style=" top: 20%;left: 90%;width: 13px;height: 13px; background: url(&quot;img/zan.png&quot;) center no-repeat; cursor: pointer; opacity: 0.85;float: right;padding: 5px 5px;"></span>
	        </div>
                <div class="item-price">
                    <span class="hotspot">今日特价：￥<%= parseFloat(Goods.price).toFixed(2) %></span>
                </div>
                <% } else {%>
                <div class="item-cost">
                    <span style="color:white;"><s>￥<%= parseFloat(Goods.old_price).toFixed(2) %></s></span>
                    <!--span style="color:#f0f0f0;"><s>￥<%= parseFloat(Goods.old_price).toFixed(2) %></s></span-->
                </div>
		<div class="zan">
		    <i class="zan_num" style=" top: 20%;left: 90%;width: 13px;height: 13px;cursor: pointer;float: right;padding: 5px 5px; color: #000;font-style:normal;"><%= Goods.zan_num %></i>
	            <span class="zan_span" style=" top: 20%;left: 90%;width: 13px;height: 13px; background: url(&quot;img/zan.png&quot;) center no-repeat; cursor: pointer; opacity: 0.85;float: right;padding: 5px 5px;"></span>
	        </div>
                <div class="item-price">
                    <span class="hotspot" style="color:black;">单价：￥<%= parseFloat(Goods.price).toFixed(2) %></span>
                </div>
                <% } %>
                <div class="item-detail">
                    <a href="javascript:void(0);">详细</a>
                    <img src="img/greentri@2x.png" alt="detail">
                </div>
            </div>
            <div class="select-shadow">
                <div>
                    <img src="img/check.png" alt="selected">
                    <span>已选</span>
                </div>
            </div>
            <div class="soldout-shadow">
                <div>
                    <img src="img/soldout.png" alt="selected">
                </div>
            </div>
	</script>

	<!-- 无图菜谱视图模版 -->
	<script type="text/template" id="item-template-no-img">		
            <div class="item-title"><%= Goods.name %></div>
            <div class="item-image">
                <img src="img/logo-small.png" lazy-src="img/logo-small.png" alt="item image">
            </div>
            <div class="single-item-info">
                <!--div class="item-amount">
                    <span><%= Goods.servings %>人份</span>
                </div-->
                <div class="item-cost">
                    <span><s>￥<%= parseFloat(Goods.price).toFixed(2) %></s></span>
                </div>
		<div class="zan">
		    <i class="zan_num" style=" top: 20%;left: 90%;width: 13px;height: 13px;cursor: pointer;float: right;padding: 5px 5px; color: #000;font-style:normal;"><%= Goods.zan_num %></i>
	            <span class="zan_span" style=" top: 20%;left: 90%;width: 13px;height: 13px; background: url(&quot;img/zan.png&quot;) center no-repeat; cursor: pointer; opacity: 0.85;float: right;padding: 5px 5px;"></span>
	        </div>
                <div class="item-price">
                    <span class="hotspot">今日特价：￥<%= parseFloat(Goods.price).toFixed(2) %></span>
                </div>

                <div class="item-detail">
                    <a href="javascript:void(0);">点击进入菜谱</a>
                    <img src="img/greentri@2x.png" alt="detail">
                </div>
            </div>
            <div class="select-shadow-no-img">
                <div>
                    <img src="img/check.png" alt="selected">
                    <span>已选</span>
                </div>
            </div>
            <div class="soldout-shadow-no-img">
                <div>
                    <img src="img/soldout.png" alt="selected">
                </div>
            </div>
	</script>

	<!-- 购物车按钮模版 -->
	<script type="text/template" id="shoppingCart-template">
            <div class="shopping-cart mybtn">
                <span style="display:block; font-size: 13px; line-height: 16px; height: 19px;">
                    <span class="total-amount"><%= count %></span>
                    份，共
                    <span class="total-price"><%= total %></span>
                    元
                    <br/>
                </span>
                <span style="display:block; font-size: 16px; line-height: 16px; height: 16px;">选定下单</span>
            </div>
	</script>

	<!-- 菜品详情页面模版 -->
	<script type="text/template" id="itemDetailView-template">
            <div class="header" id="detail-header">
                <span class="single-name"><%= Goods.name%></span>
            </div>
            <div class="detail">
                <div class="detail-image">
                    <img src="/micromall<%= Goods.detail_url %>">
                </div>
                <div class="button-group">
                    <button class="addItem btn btn-success">加入购物车</button>
                </div>
                <div class="detail-content">
                    <ul>
                        <li>价格： <%= parseFloat(Goods.price).toFixed(2) %>元</li>
                        <!--li>分量： <%= Goods.servings %>人份</li-->
                        <li><div><%= Goods.content %></div></li>
                    </ul>
                </div>
                <div class="done">
                    <img src="img/car2@2x.png">
                    <span>成功放入购物车</span>
                </div>
                <div class="divider"></div>
                <div class="backToTop">回到顶部</div>
            </div>
            <div class="toolbar">
                <a class="back" href="javascript:void(0);">
                    <img src="img/back.png">
                </a>
                <a class="user" href="javascript:void(0);"><img src="img/user.png"></a>
            </div>
	</script>

	<!-- 订单确认视图模版 -->
	<script type="text/template" id="orderView-template">
            <div class="confirmation-form">
                <div class="confirmation-header">
                    <span>订单确认</span>				
                </div>
                <div class="confirmation-list" id="item-list">
                    <div class="dotted-divider" style="width: 105.263157894737%; margin-left: -2.9%"></div>
                    <ul>				
                        <!-- 插入订单条目视图 -->					
                    </ul>
                    <div class="total-info">
                        <span>
                            运费：<span class="items-total-amount"><%= parseFloat(organization.Organization.freight||0).toFixed(2) %></span>元，共<span class="items-total-price"><%= (parseFloat(item_total) + parseFloat(organization.Organization.freight||0)).toFixed(2) %></span>元
                        </span>
                    </div>
                </div>
            </div>

            <div class="toolbar">
                <a class="back" href="javascript:void(0);">
                    <img src="img/back.png">
                </a>
                <a class="next mybtn" href="javascript:void(0);">
                    <span style="display: block; height: 39px; font-size: 1.2em;">下一步</span>
                </a>
                <a class="user" href="javascript:void(0);">
                    <img src="img/user.png">
                </a>
            </div>
	</script>


	<!-- 订单条目视图模版 -->
	<script type="text/template" id="orderItemView-template">
            <div class="confirmation-item">
                <div class="item-info">
                    <span class="item-name" title="<%= Goods.name %>"><%= Goods.name %><br/></span>
                    <span class="item-price-info">
                        <span>
                            <span class="item-total-price">￥<%= parseFloat(total).toFixed(2) %></span>
                            (<span class="item-single-price"><%= parseFloat(Goods.price).toFixed(2) %></span>×<span class="item-amount"><%= count %></span>)
                        </span>
                    </span>
                </div>
                <div class="select-box">
                    <span class="minus disabled">—</span>
                    <input class="amount" type="text" name="amount" value="<%= count %>" autocomplete="off" readonly>
                    <span class="add">+</span>
                </div>
                <div class="delete">
                    <a class="delete-btn" href="javascript:void(0);"><img src="img/delete.png"></a>
                </div>
            </div>
            <div class="divider"></div>
	</script>

	<!-- 订单配送信息视图模版 -->
	<script type="text/template" id="deliveryView-template">
            <div class="confirmation-form">
                <div class="confirmation-header">
                    <span>信息</span>
                    <div class="dotted-divider"></div>
                </div>

                <form class="delivery-info">
                    {% csrf_token %}
                    <table class="form_table">
                        <tr>
                            <td class="td_left">姓名：</td>
                            <td class="td_right">
                                <input type="text" name="username" id="username" placeholder="务必使用真实姓名" value="{{cusr.name}}" required>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_left">手机：</td>
                            <td class="td_right"><input type="text" name="tel" id="tel" placeholder="" value="{{cusr.telphone}}" required></td>
                        </tr>

                        <tr>
                            <td class="td_left">地址：</td>
                            <td class="td_right">
                                <select id="hat_city" name="hat_city" class="hat_select">
                                    <% _.each(cities, function(item, idx) { %> <option value="<%= item.Address.id %>"><%= item.Address.name %></option> <% }); %>
                                </select>
                                <select id="hat_area" name="hat_area" class="hat_select">
                                    <% _.each(areas, function(item, idx) { %> <option value="<%= item.Address.id %>"><%= item.Address.name %></option> <% }); %>
                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_left"></td>
                            <td class="td_right">
                                <input type="text" name="address" id="address" placeholder="详细地址" value="" required>
                            </td>
                        </tr>

                        <tr>
                            <td class="td_left">备注：</td>
                            <td class="td_right"><input type="text" name="note" id="note" placeholder="选填"></td>
                        </tr>
                    
                        <tr>
                            <td class="td_left">配送时间：</td>
                            <td class="td_right">
                                <select id="deliveryTime" name="deliveryTime" class="hat_select">
                                    <% _.each(deliveryTimes, function(item, idx) { %> <option value="<%= item.DeliveryTime.id %>"><%= item.DeliveryTime.start_time %> - <%= item.DeliveryTime.end_time %></option> <% }); %>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="td_left">配送范围：</td>
                            <td class="td_right"><%= organization.Organization.distribution_range %></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="toolbar">
                <a class="back" href="javascript:void(0);">
                    <img src="img/back.png">
                </a>
                <a id="submitOrderBtn" class="next mybtn" href="javascript:void(0);">
                    <span style="display: block; height: 39px; font-size: 1.2em;">提交订单</span>
                </a>
                <a class="user" href="javascript:void(0);">
                    <img src="img/user.png">
                </a>
            </div>
	</script>

	<!-- 支付方式模版 -->
	<script type="text/template" id="paymentView-template">
	    <span>支付方式：</span>
	    <div>
                <span class="line" id="cool-payment">
                    <span class="radio selected"></span>
                    <span class="label">货到付款</span>
                </span>
            </div>
	</script>

	<!-- 订单提交结果视图模版 -->
	<script type="text/template" id="orderResultView-template">
            <div class="orderResult-header">
                <span>
                    <img class="smile" src="img/smile.png">&nbsp&nbsp&nbsp下单成功
                </span>
                <div class="dotted-divider"></div>
            </div>
            <div class="orderResultList-container">
                <!-- 在此插入普通菜品和土特团的订单列表 -->
            </div>
            <div class="toolbar">
                <% if(pay_mode == 1){ %>
                    <form id="alipayForm" action="/micromall/pay/alipayapi.php" method="post" target="_blank">
                        {% csrf_token %}
                        <input type="hidden" name="WIDout_trade_no" value="<%= cart_id %>"/>
                        <input type="hidden" name="WIDtotal_fee" value="<%= amount %>"/>
                        <input type="hidden" name="code" value="oyQi999IclGY9yfAAlzG4nUlDH3A"/>
                        <input type="hidden" name="orgid" value="1"/>
                        <a class="next mybtn" href="javascript:void(0);">
                            <span style="display: block; height: 39px; font-size: 1.2em;">确认付款</span>
                        </a>
                    </form>
                <% }else{ %>
                    <a class="next mybtn" href="javascript:void(0);">
                        <span style="display: block; height: 39px; font-size: 1.2em;">继续订购</span>
                    </a>
                <% } %>
                <a class="user" href="javascript:void(0);">
                    <img src="img/user.png">
                </a>
            </div>
	</script>
	
	<!-- 订单结果中普通菜品列表的视图模版 -->
	<script type="text/template" id="itemsResultView-template">
            <div class="orderResult-form">
                <div class="orderResult-list" id="items-order-result">
                    <div class="order-info">
                        <span>
                            订单号：<span id="order-no"><%= cart_id %></span>
                        </span>
                        <span class="date" style="float: right"></span>
                    </div>
                    <div class="order-list" id="item-order-list">
                        <ul>
                        </ul>
                    </div>
                    <div class="divider"></div>
                    <div class="total-info">
                        <span>
                                运费：<span><%= parseFloat(organization.Organization.freight||0).toFixed(2) %></span>元，共<span><%= (parseFloat(item_total) + parseFloat(organization.Organization.freight||0)).toFixed(2) %></span>元
                        </span>
                        <!-- span class="cancelOrder">取消订单</span -->
                    </div>				
                </div>
            </div>

            <div class="tips" id="items-tips">
                <div class="tips-arrow"></div>
                <!--span>温馨提示：此订单<span id="pBox"></span>将于<span id="items-delivery-time"><%= items.date %></span><span id="timeBox"></span>点配送</span-->
                <span>温馨提示：<br /><span id="timeBox"></span></span>
            </div>
	</script>

	<!-- 订单中普通菜品条目视图模版 -->
	<script type="text/template" id="resultItemView-template">
            <span class="order-item-name"><%= Goods.name %></span>
            <span class="order-item-name"><%= Goods.goods_name %></span>
            <span class="order-item-price">￥<%= parseFloat(total).toFixed(2) %></span>
            <span class="order-item-amount"><%= count %>份</span>
	</script>

	<!-- 我的订单视图模版 -->
	<script type="text/template" id="myOrdersView-template">
            <div class="my-order-header">
                <span>我的订单</span>
                <div class="dotted-divider"></div>
            </div>
            
            <div class='myOrderList'></div>
            
            <div class="history-loader">
                <img src="img/timer.png">
                <span>点击查看历史订单</span>
            </div>

            <div class="toolbar">
                <a class="next mybtn" href="javascript:void(0);">
                    <span style="display: block; height: 39px; font-size: 1.2em;">我要订购</span>
                </a>
                <a class="user" href="javascript:void(0);"><img src="img/user.png"></a>
            </div>
	</script>

	<script type="text/template" id="oneDayOrderView-template">
            <div class="orderResult-form"></div>
	</script>

	<!-- 我的订单中普通菜品列表的视图模版 -->
	<script type="text/template" id="itemOrderView-template">		
            <div class="order-header">
                <span class="order-status">状态：<span class="status"><%= order_status %></span></span>
                <% if(can_cancel){ %>
                    <span class="cancelOrder">取消</span>
                <% } %>
                <% if(status == 4){ %>
                    <form class="paymentForm" action="/micromall/pay/alipayapi.php" method="post" target="_blank">
                        {% csrf_token %}
                        <input type="hidden" name="WIDout_trade_no" value="<%= cart_id %>"/>
                        <input type="hidden" name="WIDtotal_fee" value="<%= cart_total %>"/>
                        <input type="hidden" name="code" value="oyQi999IclGY9yfAAlzG4nUlDH3A"/>
                        <input type="hidden" name="orgid" value="1"/>
                        <input type="submit" class="paymentOrder" value="付款"/>
                    </form>
                <% } %>
            </div>
            <div class="orderResult-list" id="items-order-result">
                <div class="order-info">
                    <span>
                        订单号：<span id="order-no"><%= cart_id %></span>
                    </span>
                    <span class="date" style="float: right"></span>
                </div>
                <div class="order-list" id="item-order-list">
                    <ul></ul>
                </div>
                <div class="divider"></div>
                <div class="total-info">
                    <span>
                        运费：<span><%= parseFloat(freight||0).toFixed(2) %></span>元，共<span><%= parseFloat(cart_total).toFixed(2) %></span>元
                    </span>
                    <% if(delivery_status == 2) { %>
                        <a class="btn dail-small">拨打电话催一催</a>
                    <% } %>
                </div>				
            </div>
	</script>

	<!-- 警告弹窗视图模版 -->
	<script type="text/template" id="orderInfoPopupView-template">
            <div class="popup-header"></div>
            <div class="btn-group">
                <button class="btn">关闭</button>
            </div>
	</script>

	<!-- 确认弹窗视图模版 -->
	<script type="text/template" id="orderConfirmPopupView-template">
            <div class="popup-header"></div>
            <div class="popup-tips"></div>
            <div class="btn-group">
                <button class="btn" id="yes">确定</button>
                <button class="btn" id="no">取消</button>
            </div>
	</script>

	<script>
            var current_user = "{{ cur_usr }}";
            // var user_status  = "NEW_USER";
            var user_status  = "{{ usr_status }}";
            var baseUrl = '/microfront/';
            // var cust = {"Customer":{"open_id":"oyQi999IclGY9yfAAlzG4nUlDH3A","org_id":"1","city":"","area":"","money":"0.00"}};
            var cust = {"Customer":{"open_id":"{{cur_usr }}","org_id":"1","city":"","area":"","money":"{{cusr.money}}"}};
            var organization = {"Organization":{"id":"1","name":"\u7231\u597D\u98DF","kf_phone":"075533100289","tip_content":"\u60a8\u7684\u8ba2\u5355\u6211\u4eec\u5c06\u5728\u9884\u5b9a\u7684\u914d\u9001\u65f6\u95f4\u6bb5\u9001\u8fbe\u3002","distribution_range":"tcl\u5927\u53a6\u9644\u8fd11000\u7c73\r\n\u817e\u8baf\u5927\u53a6\u9644\u8fd11000\u7c73","freight":"0.00"}};
            var organization = {{ org_json|safe }};

            var deliveryTimes = {{ dltime_json|safe }};

            var catalogs = {{ catalog_json|safe }};
            var moreCatalogs = {{ morecatalog_json|safe }};

            var items = {{ menu_json|safe }};
            var slctidx = {{ slctidx }};

            var cities = [{"Address":{"id":"381","name":"\u6df1\u5733\u5e02","parent_id":"380","level":"2","org_id":"1","hat_id":"440300"}}];
            // var areas = {"381":[{"Address":{"id":"382","name":"\u5B9D\u5B89\u533A","parent_id":"381","level":"3","org_id":"1","hat_id":null}},{"Address":{"id":"383","name":"\u5357\u5C71\u533A","parent_id":"381","level":"3","org_id":"1","hat_id":null}},{"Address":{"id":"601","name":"\u798F\u7530\u533A","parent_id":"381","level":"3","org_id":"1","hat_id":null}},{"Address":{"id":"700","name":"\u7F57\u6E56\u533A","parent_id":"381","level":"3","org_id":"1","hat_id":null}}]};
            var areas = {"381":[{"Address":{"id":"383","name":"\u5357\u5C71\u533A","parent_id":"381","level":"3","org_id":"1","hat_id":null}}, {"Address":{"id":"382","name":"\u5B9D\u5B89\u533A","parent_id":"381","level":"3","org_id":"1","hat_id":null}}]};
            var tradeTime = [];
            // widget.init(data_from_django);
	</script>
        
	<script src="js/components/jquery/jquery.min.js"></script>
	<script src="js/components/underscore/underscore.min.js"></script>
	<script src="js/components/backbone/backbone.min.js"></script>	
	<script src="js/components/backbone/backbone.touch.js"></script>
	<script src="js/models/models.js?5"></script>
	<script src="js/views/views.js?5"></script>
	<script src="js/application.js?5"></script>

	<link rel="stylesheet" href="css/iphone.css">	<script>
        $(document).on('click', '.dail-small', function(){
            window.location.href = "tel:" + organization.Organization.kf_phone;
            if(navigator.userAgent.toLowerCase().indexOf("iphone") === -1){
                $(".dail-small").text(organization.Organization.kf_phone);
            }
        });

        $(document).on('click', '.zan', function(){
		var $i=$(this).children(".zan_num");
		var $j=$(this).children(".zan_span");
                var n=parseInt($i.text());
                var id = $(this).parents('.item').attr('id');

                if (1 != parseInt($i.val())) {
		    $.post("zan/",{zan:id}, function(data){$i.text(n+1);$j.css("background-image", "url(img/zaned.png)");$i.val("1");});
                }
        });
        
        if(sc.getWechatId() && sc.getWechatId() != getUuid()){
            setCookie('wechat_id','',-1);
        }

        $('.types ul li').removeClass('active');
        $("#m13").addClass("active");
</script>

</body></html>
